#
# SDK configuration defaults
#

# Enable LVGL
CONFIG_LV_USE_LVGL=y
CONFIG_LV_COLOR_DEPTH_16=y
CONFIG_LV_COLOR_16_SWAP=y
CONFIG_LV_FONT_MONTSERRAT_24=y
CONFIG_LV_FONT_MONTSERRAT_20=y
CONFIG_LV_FONT_MONTSERRAT_28=y
CONFIG_LV_MEM_CUSTOM=y
CONFIG_LV_MEM_SIZE_KILOBYTES=64

# Enable SPIFFS
CONFIG_SPIFFS_USE_MTD=y
CONFIG_SPIFFS_CACHE_SIZE=1024
CONFIG_SPIFFS_PAGE_SIZE=256
CONFIG_SPIFFS_BLOCK_SIZE=4096
CONFIG_SPIFFS_USE_FF=y

# Enable NVS
CONFIG_NVS_ENABLED=y

# Enable Wi-Fi
CONFIG_ESP_WIFI_STA_MODE=y
CONFIG_ESP_WIFI_SSID=""
CONFIG_ESP_WIFI_PASSWORD=""

# Enable OTA
CONFIG_OTA_ALLOW_HTTP=y

# Enable Bluetooth (BLE)
CONFIG_BT_ENABLED=y
CONFIG_BT_BLE_ENABLED=y
CONFIG_BT_BLUEDROID_ENABLED=y


# Enable ESP-IDF logging
CONFIG_LOG_DEFAULT_LEVEL_INFO=y


